<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
 background-color: #fff;
}
table th {
  background-color: black;
  color: white;
}

</style>




{% if datos %}
 <h1>WELCOME</h1>
 <form action="/searchview/" method="get">
     <input type="text" name="q">
     <input type="submit" value="Buscar">
 </form>
 <table style="width:100%">


   <tr>
     <td>Nombre</td>
     <td>{{datos.name}}</td>
   </tr>
   <tr>
     <td>Altura</td>
     <td>{{datos.height}}</td>
   </tr>
   <tr>
     <td>Masa</td>
     <td>{{datos.mass}}</td>
   </tr>
   <tr>
     <td>Pelo</td>
     <td>{{datos.hairColor}}</td>
   </tr>
   <tr>
     <td>Skin</td>
     <td>{{datos.skinColor}}</td>
   </tr>
   <tr>
     <td>Ojos</td>
     <td>{{datos.eyeColor}}</td>
   </tr>
   <tr>
     <td>Nacimiento</td>
     <td>{{datos.birthYear}}</td>
   </tr>
   <tr>
     <td>Genero</td>
     <td>{{datos.gender}}</td>
   </tr>
   <tr>
     <td>Homeworld</td>
     <td><a href = "/planetdetail/{{datos.homeworld.id}}">{{datos.homeworld.name}}</td>
   </tr>

 </table>

<div>
{%if datos.filmConnection%}
<table style="float: left">
  <rt>
    <th>Peliculas</th>
  </tr>

  {%for film in datos.filmConnection.edges%}
  <tr>
    <td><a href = "/moviedetail/{{film.node.id}}">{{film.node.title}}</a></td>
  </tr>
  {%endfor%}

</table>
{%endif%}


{%if datos.starshipConnection%}
<table style="float: left">
  <rt>
    <th>Naves</th>
  </tr>

  {%for starship in datos.starshipConnection.edges%}
  <tr>
    <td><a href = "/starshipdetail/{{starship.node.id}}">{{starship.node.name}}</a></td>
  </tr>
  {%endfor%}

</table>
{%endif%}

</div>


 {%endif%}
