<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
 background-color: #fff;
}
table th {
  background-color: black;
  color: white;
}


table#t01 td {
  background-color: black;
  color: black;
}


</style>



{% if movie %}
   <h1><a href = "/">Inicio</a></h1>
   <form action="/searchview/" method="get">
       <input type="text" name="q">
       <input type="submit" value="Buscar">
   </form>

   <table style="width:100%">
     <rt>
       <th>Titulo</th>
       <th>Episodio</th>
       <th>Fecha de estreno</th>
       <th>Director</th>
       <th>Productor/es</th>
     </tr>

       <tr>
         <td>{{movie.title}}</td>
         <td>{{movie.episodeID}}</td>
         <td>{{movie.releaseDate}}</td>
         <td>{{movie.director}}</td>
         <td>
             {% for producer in movie.producers %}
               {{producer}}
               -
             {% endfor %}
         </td>
       </tr>

   </table>


   <table id="t01">
   <rt>
     <th></th>
    </tr>
       <tr>
         <td><font color="#EBD71C" size="8">{{movie.openingCrawl}}</font></td>
       </tr>

   </table>

<div>



    <table style="float: left">
    <rt>
      <th>Personajes</th>
    </tr>
    {%for character in movie.characterConnection.edges%}
    <tr>
      <td><a href = "/characterdetail/{{character.node.id}}">{{character.node.name}}</a></td>
    </tr>
    {%endfor%}

    </table>


   <table style="float: left">
   <rt>
     <th>Naves</th>
   </tr>
   {%for nave in movie.starshipConnection.edges%}
   <tr>
     <td><a href = "/starshipdetail/{{nave.node.id}}">{{nave.node.name}}</a></td>
   </tr>
   {%endfor%}

   </table>


   <table style="float: left">
   <rt>
     <th>Planetas</th>
   </tr>
   {%for planeta in movie.planetConnection.edges%}
   <tr>
     <td><a href = "/planetdetail/{{planeta.node.id}}">{{planeta.node.name}}</a></td>
   </tr>
   {%endfor%}

   </table>
</div>






{% endif %}
