<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
 background-color: #fff;
}
table th {
  background-color: black;
  color: white;
}

</style>


{% if datos %}
 <h1><a href = "/">Inicio</a></h1>
 <form action="/searchview/" method="get">
     <input type="text" name="q">
     <input type="submit" value="Buscar">
 </form>

 <table style="width:100%">
   <tr>
     <td>Nombre</td>
     <td>{{datos.name}}</td>
   </tr>
   <tr>
     <td>Periodo rotacional</td>
     <td>{{datos.rotationPeriod}}</td>
   </tr>
   <tr>
     <td>Periodo Orbital</td>
     <td>{{datos.orbitalPeriod}}</td>
   </tr>
   <tr>
     <td>Diametro</td>
     <td>{{datos.diameter}}</td>
   </tr>
   <tr>
     <td>Clima</td>
       <td>
         {% for climate in datos.climates %}
           {{climate}}
           -
         {% endfor %}
       </td>
   </tr>
   <tr>
     <td>Gravedad</td>
     <td>{{datos.gravity}}</td>
   </tr>
   <tr>
     <td>Terreno</td>
     <td>
       {% for terrain in datos.terrains %}
         {{terrain}}
         -
       {% endfor %}
     </td>
   </tr>
   <tr>
     <td>Agua en superficie</td>
     <td>{{datos.surfaceWater}}</td>
   </tr>
   <tr>
     <td>Poblacion</td>
     <td>{{datos.population}}</td>
   </tr>
 </table>


 <div>
   {%if datos.residentConnection.edges%}
 <table style="float: left">
   <rt>
     <th>Residentes</th>
   </tr>

   {%for nodo in datos.residentConnection.edges%}
   <tr>
     <td><a href = "/characterdetail/{{nodo.node.id}}">{{nodo.node.name}}</a></td>
   </tr>
   {%endfor%}
 </table>
 {%endif%}

{%if datos.filmConnection.edges%}
 <table style="float: left">
   <rt>
     <th>Peliculas</th>
   </tr>

   {%for name in datos.filmConnection.edges%}
   <tr>
     <td><a href = "/moviedetail/{{name.node.id}}">{{name.node.title}}</a></td>
   </tr>
   {%endfor%}
 </table>
{%endif%}


 </div>








 {%endif%}
