<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
 background-color: #fff;
}
table th {
  background-color: black;
  color: white;
}

</style>


{% if datos %}
 <h1>WELCOME</h1>
 <form action="/searchview/" method="get">
     <input type="text" name="q">
     <input type="submit" value="Buscar">
 </form>

 <table style="width:100%">
   <tr>
     <td>Nombre</td>
     <td>{{datos.name}}</td>
   </tr>
   <tr>
     <td>Periodo rotacional</td>
     <td>{{datos.rotation_period}}</td>
   </tr>
   <tr>
     <td>Periodo Orbital</td>
     <td>{{datos.orbital_period}}</td>
   </tr>
   <tr>
     <td>Diametro</td>
     <td>{{datos.diameter}}</td>
   </tr>
   <tr>
     <td>Clima</td>
     <td>{{datos.climate}}</td>
   </tr>
   <tr>
     <td>Gravedad</td>
     <td>{{datos.gravity}}</td>
   </tr>
   <tr>
     <td>Terreno</td>
     <td>{{datos.terrain}}</td>
   </tr>
   <tr>
     <td>Agua en superficie</td>
     <td>{{datos.surface_water}}</td>
   </tr>
   <tr>
     <td>Poblacion</td>
     <td>{{datos.population}}</td>
   </tr>
 </table>


 <div>
   {%if residents.items%}
 <table style="float: left">
   <rt>
     <th>Residentes</th>
   </tr>

   {%for name, id in residents.items%}
   <tr>
     <td><a href = "/characterdetail/{{id}}">{{name}}</a></td>
   </tr>
   {%endfor%}
 </table>


{%if films%}
 <table style="float: left">
   <rt>
     <th>Peliculas</th>
   </tr>

   {%for name, id in films.items%}
   <tr>
     <td><a href = "/moviedetail/{{id}}">{{name}}</a></td>
   </tr>
   {%endfor%}
 </table>
{%endif%}

 {%endif%}
 </div>








 {%endif%}
